table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 2px solid #000000;
  font-weight: 200px !important;
}

td,
th {
  border-left: 1px solid #000000;
  text-align: left;
  padding: 8px;
  width: 25%;

}

.pagination {
  display: inline-block;
  display: flex;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.color {
  color: red;
}

p {
  margin: 9px 13px 0px 13px;
  cursor: pointer;
}

i {
  font-size: 15px !important;
}




@media only screen and (max-width: 768) {}