<div class="table_container">
  <table>
    <tr>
      <th style="border-left: none;">First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Wishes</th>
    </tr>
    <tr *ngIf="show" style="background-color: #efb4b4;" height="10px">
      <td style="border-left: none;">William</td>
      <td>Shakespeare</td>
      <td>England</td>
      <td>Books</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Dayna</td>
      <td>Thomas</td>
      <td>England</td>
      <td>Headphones</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">JRR</td>
      <td>Tolkien</td>
      <td>England</td>
      <td>Pen</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Charles</td>
      <td>Dickens</td>
      <td>England</td>
      <td>Teddy Bear</td>
    </tr>
    <tr *ngIf="show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Agatha</td>
      <td>Christie</td>
      <td>England</td>
      <td>Knife</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Jhon</td>
      <td>Addison</td>
      <td>England</td>
      <td>Chocolate</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Jhon</td>
      <td>Addison</td>
      <td>England</td>
      <td>Chocolate</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Kevin</td>
      <td>Smith</td>
      <td>England</td>
      <td>Muffin</td>
    </tr>
    <tr *ngIf="show" style="background-color: #efb4b4;" height="10px">
      <td style="border-left: none;">William</td>
      <td>Shakespeare</td>
      <td>England</td>
      <td>Books</td>
    </tr>
    <tr *ngIf="show" style="">
      <td style="border-left: none;">Jack</td>
      <td>Jones</td>
      <td>England</td>
      <td>candy</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Tom</td>
      <td>Taylor</td>
      <td>England</td>
      <td>Dog</td>
    </tr>
    <tr *ngIf="show">
      <td style="border-left: none;">Dan</td>
      <td>Brown</td>
      <td>England</td>
      <td>Cat</td>
    </tr>
    <tr *ngIf="show" style="">
      <td style="border-left: none;">Jasmin</td>
      <td>Devis</td>
      <td>England</td>
      <td>Dress</td>
    </tr>
    <tr *ngIf="!show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Henry</td>
      <td>Evans</td>
      <td>England</td>
      <td>Shoes</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Dayna</td>
      <td>Thomas</td>
      <td>England</td>
      <td>Headphones</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Dayna</td>
      <td>Thomas</td>
      <td>England</td>
      <td>Headphones</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Bruce</td>
      <td>Shelby</td>
      <td>England</td>
      <td>x-box</td>
    </tr>
    <tr *ngIf="!show" style="">
      <td style="border-left: none;">Eva</td>
      <td>Buffey</td>
      <td>England</td>
      <td>Cake</td>
    </tr>
    <tr *ngIf="!show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Lily</td>
      <td>Wilson</td>
      <td>England</td>
      <td>controller</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Monica</td>
      <td>Robert</td>
      <td>England</td>
      <td>video game</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Saniya</td>
      <td>Robinson</td>
      <td>England</td>
      <td>Bat</td>
    </tr>
    <tr *ngIf="!show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Eva</td>
      <td>Buffey</td>
      <td>England</td>
      <td>Cake</td>
    </tr>
    <tr *ngIf="!show" style="">
      <td style="border-left: none;">Ema</td>
      <td>Walker</td>
      <td>England</td>
      <td>Football</td>
    </tr>
    <tr *ngIf="show" style="background-color: #efb4b4;" height="10px">
      <td style="border-left: none;">William</td>
      <td>Shakespeare</td>
      <td>England</td>
      <td>Books</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Ella</td>
      <td>Hughes</td>
      <td>England</td>
      <td>Basketball</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Evelyn</td>
      <td>Hall</td>
      <td>England</td>
      <td>Cycle</td>
    </tr>
    <tr *ngIf="!show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Eva</td>
      <td>Buffey</td>
      <td>England</td>
      <td>Cake</td>
    </tr>
    <tr *ngIf="!show">
      <td style="border-left: none;">Monica</td>
      <td>Robert</td>
      <td>England</td>
      <td>video game</td>
    </tr>
    <!-- <tr *ngIf="!show" style="background-color: #efb4b4;">
      <td style="border-left: none;">Ema</td>
      <td>Walker</td>
      <td>England</td>
      <td>Football</td>
    </tr> -->
    <!-- <tr *ngIf="show">
      <td style="border-left: none;">Bruce</td>
      <td>Shelby</td>
      <td>England</td>
      <td>x-box</td>
    </tr> -->
  </table>

  <br>

  <div class="pagination">
    <a href="#" (click)="changePagintation()"><i style="color: #04582b" class="fa fa-arrow-circle-left"></i>
    </a>
    <p href="#" (click)="changePagintation(1)" [class.color]="clicked===1">1</p>
    <p href="#" (click)="changePagintation(2)" [class.color]="clicked===2">2</p>
    <p href="#" (click)="changePagintation(3)" [class.color]="clicked===3">3</p>
    <p href="#" (click)="changePagintation(4)" [class.color]="clicked===4">4</p>
    <p href="#" (click)="changePagintation(5)" [class.color]="clicked===5">5</p>
    <p href="#" (click)="changePagintation(6)" [class.color]="clicked===6">6</p>
    <a href="#" (click)="changePagintation()"><i style="color: #04582b" class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>