<div class="sidemenu">
    <div class="image_container">
        <div class="image_content">
            <div>
                <img src="../../../assets/clipart182747[31].png" alt="">
                <br>
            </div>
        </div>

        <br><br>

        <div class="heading-wrapper">
            <p class="main-heading">Santa Inc.</p>
        </div>

        <br><br>


        <div class="image_text">
            <p style="color: #868c92;">
                V4.1.2
            </p>
        </div>

        <br>

    </div>
    <div class="menuList" fxFlex="50">
        <div class="menu_content">
            <div class="menu_icon">
                <img src="../../../assets/icons8-ps-controller-64.png" alt="">
            </div>
            <div class="menu_heading">
                <h3 class="sidebar-btn">Toys Factory</h3>
            </div>
        </div>
        <div class="menu_content">
            <div class="menu_icon">
                <mat-icon>add_shopping_cart</mat-icon>

            </div>
            <div class="menu_heading">
                <h3 class="sidebar-btn">Delivery</h3>
            </div>
        </div>
        <br><br>
        <div class="menu_content">
            <div class="menu_icon">
                <img src="../../../assets/Legal.png" alt="">
            </div>
            <div class="menu_heading">
                <h3 class="sidebar-btn">Legal</h3>
            </div>
        </div>
        <br><br>
        <div class="menu_content">
            <div class="menu_icon">

                <mat-icon>power_settings_new</mat-icon>
            </div>
            <div class="menu_heading">
                <h3 class="sidebar-btn">Disconnect</h3>
            </div>
        </div>


    </div>

    <footer fxFlex="20" fxLayout="column" fxLayoutAlign="end center">
        <p style="color: #868c92;">All Right Reserved</p>
    </footer>

</div>