/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.main-heading {
    font-size: 30px;
    font-weight: 800;
    font-family: cursive;
    color: #cf2527;
    text-shadow: 0px 4px 6px #525452;
}